/* importing Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Fontdiner+Swanky&family=Inconsolata:wght@300&family=Lora&family=Oxanium:wght@600&family=Prosto+One&family=Rajdhani&family=Ranchers&family=Titillium+Web:wght@300&display=swap');

/* setting up the page */
html {
  box-sizing: border-box;
  font-family: 'Inconsolata', sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  position: relative;
  font-size: 1em;
  line-height: 1.4em;
}

/* editing timeline navigation */
#fp-nav ul li .fp-tooltip {
  font-family: "Titillium Web", sans-serif;
  font-size: 14px;
  background-color: rgba(26, 26, 26, 0.4);
  border-radius: 5px;
  padding: 5px;
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    background: white;
    border: 2px solid black;
}

.circle {
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  border: 5px solid black;
  
}
/* styles for sections (in chronological order) */
.section {
  padding: 50px;
  margin: auto;
  padding-left: 50px;
  padding-right: 15px;
}

.grid-container {
  display: block;
  grid-template-columns: 1fr 1fr;
  column-gap: 1em;
  align-items: center;
  padding: 20px;
}

#intro {
  background: linear-gradient(to right,#3204fdba, #e607facc),url('../images/computer-room.jpg');
  background-size: cover;
  color: white;
}
#intro h1 {
  font-family: 'Oxanium', cursive;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  margin-top: 5em;
}

#early90s {
  font-family: Times, serif;
  background-color: teal;
}

#early90s .grid-container {
  border: 5px solid rgb(160, 160, 160);
  background-color: rgb(223, 222, 222);
}

#early90s h1 {
  background-color: rgb(2, 0, 112);
  color: white;
  border-style: outset;
  border-color: rgb(78, 134, 172);
  padding: 10px;
}

.photo1 {
  max-height: 100%;
}

#late90s {
  background-image: url("../images/90s_pattern.png");
  font-family: 'Times', serif;
}

#late90s .grid-container {
  background-color: rgb(99, 101, 192);
  color: rgb(0, 255, 191);
  box-shadow: 20px 20px rgb(0, 214, 161);
}

#late90s h1 {
  font-family: 'Prosto One', cursive;
   color: rgb(0, 255, 55)
}
#centered-grid, #centre-grid, #center-grid {
  text-align: center;
}

#early00s {
  font-family: "Rajdhani", sans-serif;
  background-image: linear-gradient(180deg, #FFFFFF,  rgb(236, 158, 255))
}

#early00s h1 {
  font-family: 'Fontdiner Swanky', cursive;
  width: fit-content;
  border-radius: 10px;
  padding: 20px;
  background-image: linear-gradient(180deg, rgb(0, 247, 255), rgb(236, 158, 255));
  color: white;
}

#early00s .shrink-image {
  border-radius: 50px;
}

#early00s img {
  padding: 30px 0px;
}

#late00s {
  background-image: url("../images/windows-bliss.png");
  background-size: cover;
  font-family: "Barlow", sans-serif;
}

#late00s h1 {
  margin-bottom: 100px;
  color: white;
  font-weight: bold;
  text-shadow: 3px 3px rgba(0, 0, 0, 0.521);
  margin-left: 20px;
}

#late00s .caption {
  margin-bottom: 30px;
  margin-left: 20px;
  text-align: left;
  color: white;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}

/* lots of CSS to implement glossy styled buttons */
.buttons {
  display: inline-block;
  position: relative;
  background-color: #AAA;
  background-image: linear-gradient( /* chrome */
    hsla(0, 0%, 100%, 0.4), hsla(0, 0%, 100%, 0) 50%,
    hsla(0, 0%, 0%, 0.3) 50%, hsla(0, 0%, 100%, 0.2)
  );
  font-size: 20px;
  font-family: "Prosto One", cursive;
  color: white;
  padding: 10px 20px;
  text-shadow:
    0 0 15px hsla(0, 0%, 100%, 1), /* bloom */
    0 2px 4px hsla(0, 58%, 59%, 0.678); /* drop shadow */
  border: none;
  border-radius: 50px;
  margin: 10px;
  box-shadow:
    inset 0 -5px 20px hsla(0, 0%, 0%, 0.4), /* top light */
    inset 0 5px 20px hsla(0, 0%, 100%, 0.4), /* bottom shadow */
    /* multiple light sources yall */
    -8px 8px 5px hsla(0, 0%, 0%, 0.15), /* drop shadow 1 */
    5px 18px 10px hsla(0, 0%, 0%, 0.2); /* drop shadow 2 */
  cursor: pointer;
  transition: transform 0.1s, box-shadow 0.1s;
  background-color: rgb(255, 72, 0);
}
.buttons:hover {
  background-color: purple;
}

/* highlight */
.buttons:before {
  content: '';
  display: block;
  position: absolute;
  left: 20px;
  right: 20px;
  top: 5px;
  height: 30px;
  border-radius: 15px;
  background: linear-gradient(
    hsla(0, 0%, 100%, 0.4), hsla(0, 0%, 100%, 0) );
}

#late00s .caption {
  text-align: left;
  font-size: 16px;
}

.windows-xp {
  border-radius: 5px;
  margin-top: 0;
}

#bliss-content {
  border: 3px solid #2D59A4;
  border-top: none;
  margin-top: -20px;
  border-radius: 10px;
  padding: 20px;
  padding-top: 40px;
  background-color: white;
}

#today {
  background-image: linear-gradient(to right,#0485fd98, #0740fa), url('../images/responsive-web.jpg');
  background-size: cover;
  font-family: "Open Sans", sans-serif;
  line-height: 28px;
}
#today h1 {
  box-sizing: content-box;
  text-transform: uppercase;
  background-color: white;
  border-radius: 20px;
  color: #0485fd98;
  padding: 20px;
  box-shadow: 6px 4px #0740fa;
  width: fit-content;
  margin: 0 auto;
}
#today .grid-container {
  background-color: rgba(255, 255, 255, 0.42);
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
}

/* navigation arrows */

#actions {
  text-align: center;
  position: fixed;
  z-index: 99999;
}

#moveSectionUp, #moveSectionDown {
    position:fixed;
		height: 70px;
		display:block;
		width: 100%;
		z-index: 9;
		text-align:center;
		color: #f2f2f2;
		padding: 20px 0 0 0;
	}

	#moveSectionUp{
    top:0px;
    background-image: url('../images/up-arrow.png');
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    padding: 5px;
	}
	#moveSectionDown{
    bottom:0px;
    background-image: url('../images/down-arrow.png');
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10px;
  }

  /* styles for button activating normal scroll*/
  #destroy {
    font-family:'Titillium Web', monospace;
    font-size: 0.9em;
    padding: 5px 10px;
    text-align: center;
    background-color: #000000;
    color: lightgrey;
    border: none;
    text-transform: uppercase;
    box-shadow: 5px 5px rgba(255, 255, 255, 0.7);
  }

  #buttons {
    display: flex;
    position:fixed;
    z-index:999;
    top: 12px;
    left: 12px;
  }

  #destroy:hover {
    box-shadow: none;
    background-color: white;
    color:rgba(100, 16, 235, 0.7);
    border: 2px solid rgb(100, 16, 235, 0.7);
    transition: .5s;
  }

  /* menu buttons from home page*/
  .home-buttons {
    margin-right: 10px;
    margin-bottom: 5px;
    padding: 5px;
    border: none;
    border-radius: 5px; 
    background-color: rgb(100, 16, 235, 1);
  }

  a {
    text-decoration: none;
    font-family: "Inconsolata", sans-serif;
    color: white;
    font-size: 16px;
  }

  .home-buttons:hover {
    background-color: rgb(116, 116, 255);
    color: white;
  }

  img {
    position: relative;
    max-width: 100%;
  }

  span {
    font-family: "Helvetica", sans-serif;
    float: right;
    font-size: 16px;
    letter-spacing: 2em;
  }

  /* mimic blue hyperlinks */
  .hyperlinks {
    font-family: "Times", serif;
    color: blue;
    text-decoration: underline;
  }

  .caption {
    text-align: center;
    font-family: "Barlow", sans-serif;
    font-size: 0.8em;
    margin-top: -5px;
    line-height: 1em;
  }

  .shrink-image {
    max-height: 500px;
    background-size: contain;
  }

  /* responsive design - built mobile first*/
@media screen and (min-width: 600px) {
  .section {
    padding-left: 160px;
    height: 100%;
    padding-right: 120px;
  }
  .timeline h3 {
    font-size: 1.1em;
    line-height: 1.6em;
  }
  #destroy {
    margin-left: 14%;
  }
  .flex-container {
    flex-wrap: nowrap;
  }
  .grid-container {
    display: grid;
  }
  #buttons {
    margin-left: 100px;
  }
}