html {
  box-sizing: border-box;
  font-family: "Didact Gothic", sans-serif;
  background: cover;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  position: relative;
}

.line {
  position: fixed;
  width: 6px;
  height: 80%;
  background-color: black;
  margin: 40px;
  border-radius: 5px;
}

.timeline {
  display: grid;
  height: 122%;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  margin-left: -7px; 
}

.timeline h3 {
  margin-top: -12px;
  margin-left: 10px;
  font-size: 0.8em;
  line-height: 1.8em;
}

.sidebar{
  position: fixed;
  z-index: 100;
}

.circle {
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  border: 5px solid black;
  
}
.section {
  padding: 50px;
  margin: auto;
  padding-left: 120px;
}

p {
  font-size: 1.1em;
  line-height: 1.4em;
}

#intro {
  font-family: Helvetica, sans-serif;
}

#early90s {
  font-family: Times, serif;
}

#late90s {
  background-image: url("/images/90s_pattern.png");
  font-family: Times, serif;
}

#early00s {
}

#late00s {
}

#today {
  font-family: 'Courier New', monospace;
}

#actions {
  text-align: center;
  position: fixed;
  z-index: 99999;
}

#moveSectionUp, #moveSectionDown {
    position:fixed;
		height: 70px;
		display:block;
		width: 100%;
		z-index: 9;
		text-align:center;
		color: #f2f2f2;
		padding: 20px 0 0 0;
	}

	#moveSectionUp{
    top:0px;
    background-image: url('/images/up-arrow.png');
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    padding: 5px;
	}
	#moveSectionDown{
    bottom:0px;
    background-image: url('/images/down-arrow.png');
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10px;
  }
  #fp-nav ul li a span,
  .fp-slidesNav ul li a span {
      background: blue;
  }
  #destroy{
  position:fixed;
  z-index:999;
  font-size: 2em;
  cursor:pointer;
  top: 20px;
  left: 20px;
  }

  #destroy {
    box-sizing: border-box;
    margin-left: 300px;
    text-align: center;
    background-color: #000000;
    color: lightgrey;
    border-radius: 5px;
    border: none;
    font-size: 14px;
    text-transform: uppercase;
    box-shadow: 5px 5px rgb(68, 182, 182, 0.7);
  }

  button:hover {
    box-shadow: none;
  }

@media screen and (min-width: 600px) {
  .section {
    padding-left: 15%;
  }
  .timeline h3 {
    font-size: 1.1em;
    line-height: 1.6em;
  }
  img {
    float: right;
    max-width: 50%;
  }
}